* {
    /*outline: 1px red dashed;*/
    /*color: var(--main);*/
}

:root {
    --body-color: #616161;
    --main: #9fcfff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 99%;
    height: 100%;
}

footer{
    width: 1290px;
    height: 100px;
    background-color: #464646;
}

.canvas {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;

    width: 1280px;
    height: 720px;

    background-color: var(--main);
    border: 5px black solid;
}

.tireContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #a2d8a2;

}

.tireCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: end;

    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;

    aspect-ratio: 1;
    border-top: 30px solid var(--body-color);
}

.spacer1 {
    align-self: start;
    width: 10px;
    height: 121px;
    background-color: var(--body-color);

    border: 1px solid var(--body-color);

    margin: 0;
    padding: 0;
}

.spacer2 {
    align-self: start;
    width: 100%;
    height: 4px;
    background-color: var(--body-color);

    border-top: 7px solid var(--body-color);

    margin: 0;
    padding: 0;
}

.spacer2::after{
    content: "";
    display: block;
    clear: both;

    width: 100%;
    height: 86px;
    background-color: #2f2f2f;

    margin: 0;
    padding: 0;
}

.spacer6 {
    align-self: start;
    width: 100%;
    height: 4px;
    background-color: var(--body-color);

    border-top: 7px solid var(--body-color);

    margin: 0;
    padding: 0;
}

.spacer6::after{
    content: "";
    display: block;
    clear: both;

    width: 100%;
    height: 115px;
    background-color: #2f2f2f;

    margin: 0;
    padding: 0;
}

.spacer3 {
    align-self: start;
    width: 10px;
    height: 152px;
    background-color: var(--body-color);

    margin: 0;
    padding: 0;
}

.spacer4 {
    align-self: start;
    width: 10px;
    height: 146px;
    background-color: var(--body-color);
    border: 3px solid var(--body-color);

    margin: 0;
    padding: 0;
}

.spacer5 {
    align-self: start;
    width: 10px;
    height: 150px;
    background-color: var(--body-color);

    border: 1px solid var(--body-color);

    margin: 0;
    padding: 0;
}


.tire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;
    aspect-ratio: 1;

    margin: 0;
    padding: 0;

    background-color: black;
    border-radius: 50%;
    z-index: 1;
}

.tire::after{
    content: "";
    display: block;
    clear: both;

    justify-self: center;
    align-self: center;

    width: 65%;
    height: 65%;

    background-color: grey;
    border-radius: 50%;
}

.chasisContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #a2d8a2;
}

.chasis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: start;

    width: 100%;
    height: 80%;

    background-color: var(--body-color);

}

.chasis::after {
    content: "";
    display: block;
    clear: both;

    margin-right: 4em;
    justify-self: start;
    align-self: center;

    width: 65%;
    height: 100%;

    background-color: transparent;
    border: 3px #414141 solid;
}

.noseContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;

    background-color: #a2d8a2;
}

.nose {
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 120px;
    height: 60%;

    background-color: var(--body-color);
}

.nose::after{
    content: "";
    display: block;
    clear: both;

    align-self: end;


    width: 30px;
    height: 10px;

    background-color: orange;
    border: 3px #414141 solid;
}

.nose::before{
    content: "";
    display: block;
    clear: both;

    align-self: start;

    width: 3px;
    height: 100%;

    background-color: black;
    border: 3px #414141 solid;
}

.triangle1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-top: 50px solid var(--body-color);
    border-bottom: 68px solid transparent;

    background-color: transparent;
}

.bootContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;

    background-color: #a2d8a2;
}

.boot{
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 170px;
    height: 60%;

    background-color: var(--body-color);
    border-right: black 7px solid;
}

.boot::after{
    content: "";
    display: block;
    clear: both;

    align-self: end;

    width: 30px;
    height: 10px;
    margin: 0 1em 1em 0;

    background-color: darkred;
    border: 3px #414141 solid;
}

.triangle2 {
    width: 0;
    height: 0;
    border-right: 169px solid transparent;
    border-top: 38px solid var(--body-color);
    border-bottom: 38px solid transparent;

    background-color: transparent;
}

.cabinContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    width: 100%;
    height: 100%;
}

.cabin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: end;
    align-self: end;

    width: 70%;
    height: 94px;
    margin: 0;
    padding: 0;

    /*background-color: var(--body-color);*/
    background-color: transparent;
    border-top: 15px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
}

.cabin::after{
    content: "";
    display: block;
    clear: both;

    justify-self: center;
    align-self: end;

    width: 0;
    height: 0;
    border-right: 40px solid var(--body-color);
    border-top: 85px solid var(--body-color);
    border-left: 140px solid transparent;
    border-bottom: 25px solid transparent;
}

.triangle3 {
    width: 0;
    height: 0;
    border-right: 85px solid var(--body-color);
    border-top: 60px solid transparent;
    border-left: 75px solid transparent;
    border-bottom: 50px solid var(--body-color);
}

.triangle4 {
    align-self: end;

    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-top: 85px solid transparent;
    border-left: 140px solid var(--body-color);
    border-bottom: 25px solid var(--body-color);
}

.bc {
    background-image: linear-gradient(#9fcfff, #9fcfff, #a2d8a2);
}

.triangleCont {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(#9fcfff, #9fcfff, #a2d8a2);

}
