* {
    outline: 1px red dashed;
}

:root {
    --body-color: #616161;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 99%;
    height: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
}

.canvas {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;

    width: 1280px;
    height: 720px;

    /*background-color: blue;*/
    border: 5px black solid;
}

.tire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: end;

    width: 90%;
    height: 90%;
    aspect-ratio: 1;

    background-color: black;
    border-radius: 50%;
    z-index: 1;
}

.tire::after{
    content: "";
    display: block;
    clear: both;

    justify-self: center;
    align-self: center;

    width: 65%;
    height: 65%;

    background-color: grey;
    border-radius: 50%;
}

.chasis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: start;

    width: 100%;
    height: 80%;

    background-color: var(--body-color);
    border: 1px black solid;
}

.chasis::after {
    content: "";
    display: block;
    clear: both;

    margin-right: 2em;
    justify-self: start;
    align-self: center;

    width: 60%;
    height: 100%;

    background-color: transparent;
    border: 3px black solid;
}

.noseContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;
}

.nose {
    width: 150px;
    height: 60%;

    background-color: var(--body-color);
    border: 1px black solid;
}

.triangle1 {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-top: 50px solid var(--body-color);
    border-bottom: 75px solid transparent;

    background-color: transparent;
}

.bootContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;
}

.boot{
    width: 180px;
    height: 60%;

    background-color: var(--body-color);
    border: 1px black solid;
}

.triangle2 {
    width: 0;
    height: 0;
    border-right: 182px solid transparent;
    border-top: 50px solid var(--body-color);
    border-bottom: 75px solid transparent;

    background-color: transparent;
}

.cabinContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    width: 100%;
    height: 100%;
}

.cabin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: end;
    align-self: end;

    width: 70%;
    height: 90px;
    margin: 0;
    padding: 0;

    /*background-color: var(--body-color);*/
    background-color: transparent;
    border: 10px solid var(--body-color);
}

.cabin::after{
    content: "";
    display: block;
    clear: both;

    justify-self: center;
    align-self: end;

    width: 0;
    height: 0;
    border-right: 40px solid var(--body-color);
    border-top: 85px solid var(--body-color);
    border-left: 140px solid transparent;
    border-bottom: 25px solid transparent;
}

.triangle3 {
    width: 0;
    height: 0;
    border-right: 60px solid var(--body-color);
    border-top: 60px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var(--body-color);
}

.triangle4 {
    align-self: end;

    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-top: 85px solid transparent;
    border-left: 140px solid var(--body-color);
    border-bottom: 25px solid var(--body-color);
}
